# Odoo Add-ons Paths
# Copy this file to .env and update the paths to match your system
# Docker Compose will automatically read the .env file

# Path to custom addons directory on your host machine
ODOO_CUSTOM_ADDONS_PATH=/Users/nick/PycharmProjects/odoo/custom-addons

# Path to enterprise addons directory on your host machine
ODOO_ENTERPRISE_ADDONS_PATH=/Users/nick/PycharmProjects/enterprise-19.0

ODOO_ENTERPRISE_ADDONS_18_PATH=/Users/nick/odoo/enterprise-18.0

